<h2>Add Event</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select>
      @for (eventType of EventType | keyvalue; track eventType) {
        <mat-option value={{eventType.value}}>{{ eventType.value }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
