<h1>
  UPCOMING EVENTS
  <button mat-fab extended (click)="addEvent()" aria-label="Add event button">
    <mat-icon>add</mat-icon>
    Add Event
  </button>
</h1>

<mat-button-toggle-group
  name="event_types"
  aria-label="Event types"
  hideMultipleSelectionIndicator="false"
  multiple
  [value]="defaultSelections"
>
  <mat-button-toggle [value]="EventType.Meeting">Meeting</mat-button-toggle>
  <mat-button-toggle [value]="EventType.Outing">Outing</mat-button-toggle>
  <mat-button-toggle [value]="EventType.Service">Service</mat-button-toggle>
  <mat-button-toggle [value]="EventType.Fundraiser">Fundraiser</mat-button-toggle>
</mat-button-toggle-group>

<div class="event-list">
  @for (event of upcomingEventList; track event.id) {
  <app-event-card [eventId]="event.id" [eventTitle]="event.name"
                  [eventType]="event.type">
    <p>Meeting Time: {{ event.startDate | date:'medium' }}</p>
    <p>Meeting Location: {{ event.meetingLocation }}</p>
  </app-event-card>
  }
</div>
