.event-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-card {
  background-color: #ad9d7b;
  margin: 1rem;
  padding: 1rem;
  flex: 0 0 auto;
}

.event-card:hover {
  background-color: #a59675;
  cursor: pointer;
}
