<h2>Add Event</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (eventType of EventType | keyvalue; track eventType) {
          <mat-option value={{eventType.value}}>{{ eventType.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button type="submit" (click)="addEvent()">Add</button>
      <button mat-button mat-dialog-close type="button">Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
