

<main class="main">
  <mat-toolbar>
    <button mat-button (click)="side_nav.toggle()"><mat-icon fontIcon="menu"></mat-icon></button>
    Troop 1541
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #side_nav mode="side" [opened]="opened">
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <span>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </span>
        </a>
        <a mat-list-item routerLink="/upcoming-events">
          <span>
            <mat-icon>calendar_today</mat-icon>
            <span>Upcoming Events</span>
          </span>
        </a>
        <a mat-list-item routerLink="/past-events">
          <span>
            <mat-icon>history</mat-icon>
            <span>Past Events</span>
          </span>
        </a>
        <a mat-list-item routerLink="/about-us">
          <span>
            <mat-icon>group</mat-icon>
            <span>About Us</span>
          </span>
        </a>
        <a mat-list-item routerLink="/volunteer">
          <span>
            <mat-icon>volunteer_activism</mat-icon>
            <span>Donate / Volunteer</span>
          </span>
        </a>
        <a mat-list-item routerLink="/contact-us">
          <span>
            <mat-icon>phone</mat-icon>
            <span>Contact Us</span>
          </span>
        </a>
        <a mat-list-item routerLink="/resources">
          <span>
            <mat-icon>info</mat-icon>
            <span>Resources</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
