@use '@angular/material' as mat;

.event-card {
  background-color: #ad9d7b;
  margin: 1rem;
  padding: 1rem;
  flex: 0 0 auto;
}

.event-card:hover{
  background-color: #a59675;
  cursor: pointer;

  button {
    visibility: visible;
  }
}

mat-icon {
  @include mat.icon-overrides((
    color: #49402d,
  ));
}

mat-icon.main {
  font-size: 15rem;
  height: 15rem;
  width: 20rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  box-shadow: none;
  visibility: hidden;
}

.button-row {
  margin-left:auto;
  display: flex;
  flex-direction: row;
}

mat-spinner {
  align-self: center
}
